$grey: #d3d3d3;
$red-text: #ec5242;
$dark: #272a31;

@mixin introSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #E7E8E9;
  position: relative;


    h2 {
      color: $dark;
      text-align: center;
    }
    h2::after{
      content: '';
      background-color: #ec5242;
      width: 100px;
      height: 2px;
      position: absolute;
      margin-left: -50px;
   
    }
 
  }

body {
  background-color: #fff;
}

//   header section

header {
  height: 14vh;
  div {
    display: none;
  }
  nav {
    margin-left: 4%;
    display: flex;
    justify-content: start;
    height: 60%;
    width: 60%;
    margin-top: 5%;
    a {
      width: 38%;
      i {
        width: 100%;
        height: 100%;
        color: $dark;
        font-size: 62px;
      }
    }

    ul {
      display: none;
    }
  }
}

@media only screen and (min-width: 768px) {
  header {
    div {
      display: flex;
      background-color: $dark;
      height: 10vh;
      justify-content: flex-end;
      ul {
        list-style: none;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30%;
      }
    }
    nav {
      border: greenyellow solid;
      display: flex;
      justify-content: flex-end;

      ul {
        list-style: none;
        border: green solid;
        display: flex;
        justify-content: space-between;
        width: 60%;
      }
    }
  }
}

// hero
.hero {
  background-color: #fff;

  h2 {
    color: $red-text;
  }
  h1 {
    font-size: 50px;
    color: #ec5242;
    
  }
  .intro {
    background-color: #fff;
    border: solid 1px $grey;
  }
  p {
    text-align: center;
  }
}

//  testimonial section

.testimonial {
  @include introSection();
justify-content: center;
background-color: #fff;
align-items: center;
height: 130vh;
margin-bottom: 7%;
  h2::after {
    left: 50%;
    top:10%;
  }
  .overlay {
    width: 300px;
    position: relative;
    
    height: 300px;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .text-over-image {
      z-index: 111;
      text-align: center;
      color: #fff;
      h3 {
        font-size: 35px;
      }
      p {
        font-size: 35px;
      }
    }
  }

  .history-1 {
    margin-top: 15%;
    background-image: url(../assets/about/conference-1.jpg);
    h3 {
    }
  }
  .history-2 {
    background-image: url(../assets/about/conference-2.jpg);
  }

  .overlay::before {
    content: "";
    background: rgba(211, 102, 83, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
}
.mid-section {
  @include introSection();
  height: 80vh;  
  align-items: center;
  justify-content: center;
  h2::after {
    top:18%;
    left: 50%;
  }


  p {
    text-align: center;
  }
  .logo {
    width: 64%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: solid $dark 1px;
    justify-content: space-around;
  align-items: center;
  margin: 10%;
    img {
      position: relative;
      width: 60%;
display: block;
      z-index: 15;
      top: 10%;
      left: 4%;
      height: 120px;
      object-fit: contain;
    }
  }
}

// Partners
.partners {
  @include introSection();
  background-color: $dark;
  width: 100%;
  height: 60vh;
  h2{
    color:whitesmoke;
  }
  h2::after {
    top:18%;
    left: 50%;
  }
  .brands-container {
    display: flex;
    height: 40vh;
    align-items: center;
    
    .brand {
      width: 100%;
      margin: 2%;
      img {
        position: relative;
        width: 100%;

        z-index: 15;
        top: 10%;
        left: 4%;
        height: 120px;
        object-fit: contain;
      }
    }
.brand:nth-child(3n+1){
  display: none;
}

  }
}

@media only screen and (min-width: 768px) {
  .partners{
    .brands-container{
      .brand:nth-child(3n+1){
        display: block;
      }
    }
  }

}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  #logo {
    width: 44%;
    
   img {
      position: relative;
      width: 100%;

      z-index: 15;
      top: 10%;
      left: 4%;
      height: 120px;
      object-fit: contain;
    }
  
  }
}
